// Reset & Box-sizing
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Base HTML & Body Styles
html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-black;
    color: $color-white;
    font-family: $font-space-grotesk;
    font-weight: $font-weight-medium;
    line-height: map-get($line-heights-sm, body);
    font-size: map-get($font-sizes-sm, body);
}

section {
    margin-bottom: 5rem;
}